<div class="container">
  <div class="contactForm">
    <h1>Get in touch</h1>
    <div class="address">
      <div class="address_item"><mat-icon [color]="">map</mat-icon> Palárikova 76, Čadca</div>
      <div class="address_item"><mat-icon>map</mat-icon> Leškova 3, Bratislava</div>
      <div class="address_item"><mat-icon>person_outline</mat-icon> IČO: 50 150 880</div>
      <div class="address_item address_item-email">
        <mat-icon>email</mat-icon> <a href="mailto:info@hlavac.business">info@hlavac.business</a>
      </div>
    </div>
<!--    <form fxLayout="column">-->
<!--      <mat-form-field>-->
<!--        <input matInput placeholder="Name"/>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="example-full-width">-->
<!--        <input matInput placeholder="Email" [formControl]="emailFormControl"-->
<!--               [errorStateMatcher]="matcher">-->
<!--        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--          Please enter a valid email address-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--          Email is <strong>required</strong>-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field>-->
<!--        <textarea matInput placeholder="Message"></textarea>-->
<!--      </mat-form-field>-->
<!--      <button mat-flat-button color="primary"><mat-icon>send</mat-icon> Send</button>-->
<!--    </form>-->
  </div>
</div>
<div class="map"></div>
