@import "src/theme/theme-variables";
:host {
  background-image: url("assets/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: calc(100vh - 102px);
}
h1 {
  text-align: center;
}
.container {
  overflow: hidden;
}
.contactForm {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 30px;
  margin: 100px auto;
  box-shadow: 10px 10px 30px #0000006b;
}
.address {
  font-size: 16px;
  opacity: 0.7;
  line-height: 1.4;
  margin-bottom: 30px;
  font-weight: 500;
  &_item {
    font-size: 20px;
    margin-bottom: 15px;
    mat-icon {
      color: $accent-color;
      font-size: 28px;
      position: relative;
      top: 7px;
      margin-right: 5px;
    }
    a {
      color: $accent-color;
    }
  }
}
//.map {
//  position: absolute;
//
//  width: 50%;
//  top: 0px;
//  left: 50%;
//  z-index: -1;
//  min-height: calc(100vh - 60px);
//}
